.App {
  text-align: center;
  background-color: #000;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.social-line {
  position: relative;
  width: 200px;
  height: 2px;
  margin: 10px auto;
  overflow: hidden;
  background-color: yellow;
}

.social-line::before,
.social-line::after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 30px;
  background-color: yellow;
  transition: transform 0.4s ease;
}

.social-line::before {
  right: 50%;
  transform: translateX(0);
  background-color: yellow;
}

.social-line::after {
  left: 50%;
  transform: translateX(0);
  background-color: yellow;
}

/* Разделенная линия */
.split .social-line::before {
  transform: translateX(-100%);
  background-color: yellow;
}

.split .social-line::after {
  transform: translateX(100%);
  background-color: yellow;
}

/* Сложенная линия */
.collapsed .social-line::before,
.collapsed .social-line::after {
  transform: translateX(0);
  background-color: yellow;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
