.navbar-brand-custom {
    color: white !important; /* Ensures it overrides default styling */
    margin-left: 2px;
}

.nav-link-custom {
    color: white !important;
    font-family: Verdana, Geneva, Tahoma, Verdana, sans-serif;
}

.nav-link-custom:hover {
    color: yellow !important;
}

.navbar {
    background-color: black !important;
    border: white 1px solid;
}

.container {
    
}

.me-auto {
    width: 100%;
    justify-content: space-between;
    display: flex;
}


html {
    scroll-behavior: smooth;
}